<template>
  <ion-page>
    <ion-header :translucent="false">
      <ion-toolbar>
        <ion-title>Primera aplicación</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content :fullscreen="false">
      <div id="container">

        <strong>Prueba</strong>
        <ul>
          <li v-bind:key="item.id" v-for="item in foodList.results">
            <img :src="item.image"> {{ item.title }}
          </li>
        </ul>

      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar } from '@ionic/vue';
import { defineComponent } from 'vue';
const axios = require('axios').default;

export default defineComponent({
  name: 'Home',
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar
  },
  data(){
    return {
      apiUrl: "https://api.spoonacular.com/recipes/complexSearch",
      foodList: [],
      user: {
        username: 'reii17',
        name: 'Reynaldo',
        lastName: "Martin",
        img: "https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
      }
    }
  },
  methods: {
    getFoodList(){
      const params = new URLSearchParams();
      params.append('query', "pasta");
      params.append('apiKey', "2c3a5eadc02a4977805ba0a9f7a70ec7");
      axios.get("https://api.spoonacular.com/recipes/complexSearch", { params })
          .then(response => (this.foodList = response.data ))
    }
  },
  mounted(){
    this.getFoodList();
  }
});
</script>

<style scoped>
#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>